<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebRickAndMorty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebRickAndMorty.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       <h1 class="title"> The Rick and Morty API</h1>
    </header>
    <div class="container-fluid bg-dark">
        <main role="main" class="pb-3 insideContainer">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/js/app.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
